{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_edit' %}

{% block main %}
    <h1>Edit Post</h1>

    {{ include('default/_flash_messages.html.twig') }}

    {{ include('superadmin/blog/_form.html.twig', {
        form: edit_form,
        button_label: 'SAVE',
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        {{ include('superadmin/blog/_form.html.twig', {
            form: delete_form,
            button_label: 'Delete Post',
            button_css: 'btn btn-lg btn-block btn-danger',
            show_confirmation: true,
        }, with_context = false) }}
    </div>
{% endblock %}